---
import Layout from "../layouts/Layout.astro";
---

<Layout title="RateLimited">
  <main id="container" class="flex md:flex-row flex-col">
    <div
      class="flex flex-col md:border-r border-b md:border-b-0 p-4 w-96 md:h-screen gap-2 border-neutral-800"
    >
      <svg
        role="img"
        fill="#fff"
        class="h-8 w-8 ml-3 mb-4"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        ><title>Twitter</title><path
          d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
        ></path></svg
      >
      <div
        class="hidden md:flex p-3 duration-300 gap-4 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full font-bold items-center cursor-pointer text-2xl"
      >
        <svg viewBox="0 0 24 24" aria-hidden="true" class="h-8 w-8 fill-white"
          ><g
            ><path
              d="M12 1.696L.622 8.807l1.06 1.696L3 9.679V19.5C3 20.881 4.119 22 5.5 22h13c1.381 0 2.5-1.119 2.5-2.5V9.679l1.318.824 1.06-1.696L12 1.696zM12 16.5c-1.933 0-3.5-1.567-3.5-3.5s1.567-3.5 3.5-3.5 3.5 1.567 3.5 3.5-1.567 3.5-3.5 3.5z"
            ></path></g
          ></svg
        >
        Home
      </div>
      <div
        class="hidden md:flex p-3 duration-300 gap-4 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full items-center cursor-pointer text-2xl"
      >
        <svg viewBox="0 0 24 24" aria-hidden="true" class="h-8 w-8 fill-white"
          ><g
            ><path
              d="M19.993 9.042C19.48 5.017 16.054 2 11.996 2s-7.49 3.021-7.999 7.051L2.866 18H7.1c.463 2.282 2.481 4 4.9 4s4.437-1.718 4.9-4h4.236l-1.143-8.958zM12 20c-1.306 0-2.417-.835-2.829-2h5.658c-.412 1.165-1.523 2-2.829 2zm-6.866-4l.847-6.698C6.364 6.272 8.941 4 11.996 4s5.627 2.268 6.013 5.295L18.864 16H5.134z"
            ></path></g
          ></svg
        >
        Notifications
      </div>
      <div
        class="hidden md:flex p-3 duration-300 gap-4 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full items-center cursor-pointer text-2xl"
      >
        <svg viewBox="0 0 24 24" aria-hidden="true" class="h-8 w-8 fill-white"
          ><g
            ><path
              d="M1.998 5.5c0-1.381 1.119-2.5 2.5-2.5h15c1.381 0 2.5 1.119 2.5 2.5v13c0 1.381-1.119 2.5-2.5 2.5h-15c-1.381 0-2.5-1.119-2.5-2.5v-13zm2.5-.5c-.276 0-.5.224-.5.5v2.764l8 3.638 8-3.636V5.5c0-.276-.224-.5-.5-.5h-15zm15.5 5.463l-8 3.636-8-3.638V18.5c0 .276.224.5.5.5h15c.276 0 .5-.224.5-.5v-8.037z"
            ></path></g
          ></svg
        >
        Messages
      </div>
      <div
        class="hidden md:flex p-3 duration-300 gap-4 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full items-center cursor-pointer text-2xl"
      >
        <svg viewBox="0 0 24 24" aria-hidden="true" class="h-8 w-8 fill-white"
          ><g
            ><path
              d="M5.651 19h12.698c-.337-1.8-1.023-3.21-1.945-4.19C15.318 13.65 13.838 13 12 13s-3.317.65-4.404 1.81c-.922.98-1.608 2.39-1.945 4.19zm.486-5.56C7.627 11.85 9.648 11 12 11s4.373.85 5.863 2.44c1.477 1.58 2.366 3.8 2.632 6.46l.11 1.1H3.395l.11-1.1c.266-2.66 1.155-4.88 2.632-6.46zM12 4c-1.105 0-2 .9-2 2s.895 2 2 2 2-.9 2-2-.895-2-2-2zM8 6c0-2.21 1.791-4 4-4s4 1.79 4 4-1.791 4-4 4-4-1.79-4-4z"
            ></path></g
          ></svg
        >
        Profile
      </div>
      <div
        class="hidden md:flex p-3 duration-300 gap-4 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full items-center cursor-pointer text-2xl"
      >
        <svg viewBox="0 0 24 24" aria-hidden="true" class="h-8 w-8 fill-white"
          ><g
            ><path
              d="M3.75 12c0-4.56 3.69-8.25 8.25-8.25s8.25 3.69 8.25 8.25-3.69 8.25-8.25 8.25S3.75 16.56 3.75 12zM12 1.75C6.34 1.75 1.75 6.34 1.75 12S6.34 22.25 12 22.25 22.25 17.66 22.25 12 17.66 1.75 12 1.75zm-4.75 11.5c.69 0 1.25-.56 1.25-1.25s-.56-1.25-1.25-1.25S6 11.31 6 12s.56 1.25 1.25 1.25zm9.5 0c.69 0 1.25-.56 1.25-1.25s-.56-1.25-1.25-1.25-1.25.56-1.25 1.25.56 1.25 1.25 1.25zM13.25 12c0 .69-.56 1.25-1.25 1.25s-1.25-.56-1.25-1.25.56-1.25 1.25-1.25 1.25.56 1.25 1.25z"
            ></path></g
          ></svg
        >
        More
      </div>
    </div>
    <div
      class="relative w-full md:w-[30vw] grid place-items-center md:h-screen h-[30vh] text-neutral-400"
    >
      <div class="-mt-32">Something went wrong. Try reloading.</div>
      <button
        id="whatever"
        class="bg-[#1DA1F2] md:top-1/2 top-52 left-1/2 -translate-x-1/2 -translate-y-1/2 fixed duration-300 pr-5 p-4 py-3 font-bold text-2xl flex items-center text-white gap-4 rounded-full"
      >
        <svg viewBox="0 0 24 24" aria-hidden="true" class="fill-white h-8 w-8"
          ><g
            ><path
              d="M12 4c-4.418 0-8 3.58-8 8s3.582 8 8 8c3.806 0 6.993-2.66 7.802-6.22l1.95.44C20.742 18.67 16.76 22 12 22 6.477 22 2 17.52 2 12S6.477 2 12 2c3.272 0 6.176 1.57 8 4V3.5h2v6h-6v-2h2.616C17.175 5.39 14.749 4 12 4z"
            ></path></g
          ></svg
        >
        Retry
      </button>
    </div>
    <div
      class="flex flex-col md:border-l border-t md:border-t-0 p-4 w-96 md:h-screen gap-4 border-neutral-800"
    >
      <div
        class="px-4 py-3 items-center hidden md:flex bg-neutral-800 text-neutral-400 rounded-full text-xl w-full gap-8"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="w-6 h-6 fill-neutral-400"
          ><g
            ><path
              d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"
            ></path></g
          ></svg
        ><span>Search Twitter</span>
      </div>
      <div class="hidden md:flex rounded-2xl bg-neutral-800 flex-col gap-4 p-4">
        <h1 class="text-2xl font-bold">Get Verified</h1>
        <div class="flex gap-4">
          <div class="flex flex-col">
            <div class="text-lg font-bold">
              Subscribe to unlock more ratelimiting!
            </div>
            <button
              id="verified"
              class="bg-[#1DA1F2] mr-auto mt-4 px-4 py-2 font-bold text-xl flex items-center text-white gap-4 rounded-full"
            >
              Get Verified
            </button>
          </div>
        </div>
      </div>
      <div class="hidden md:flex rounded-2xl bg-neutral-800 flex-col gap-4 p-4">
        <h1 class="text-2xl font-bold">What's happenning?</h1>
        <div class="flex gap-4">
          <div class="flex flex-col">
            <div class="text-neutral-400">Trending in United States</div>
            <div class="text-lg font-bold">
              Sorry, you are rate limited. Please wait a few moments then try
              again.
            </div>
          </div>
        </div>
      </div>
      <div class="rounded-2xl bg-neutral-800 flex flex-col gap-4 p-4">
        <h1 class="text-2xl font-bold">Who to follow</h1>
        <div class="flex gap-4">
          <div
            class="rounded-full bg-contain bg-[url('https://pbs.twimg.com/profile_images/1590968738358079488/IY9Gx6Ok_400x400.jpg')] w-12 h-12"
          >
          </div>
          <div class="flex flex-col">
            <div class="text-lg font-bold">Elon Musk</div>
            <div class="text-neutral-400">@elonmusk</div>
          </div>
        </div>
        <a
          href="https://twitter.com/_typesafe_"
          class="flex gap-4"
          target="_blank"
        >
          <div
            class="rounded-full bg-contain bg-[url('https://pbs.twimg.com/profile_images/1629618754291204098/YWPAAIvd_400x400.jpg')] w-12 h-12"
          >
          </div>
          <div class="flex flex-col">
            <div class="text-lg font-bold">Typesafe</div>
            <div class="text-neutral-400">@_typesafe_</div>
          </div>
        </a>
        <a
          href="https://twitter.com/PickleNik0864"
          class="flex gap-4"
          target="_blank"
        >
          <div
            class="rounded-full bg-contain bg-[url('https://pbs.twimg.com/profile_images/1652712728794898435/aNefvvvm_400x400.jpg')] w-12 h-12"
          >
          </div>
          <div class="flex flex-col">
            <div class="text-lg font-bold">PickleNik</div>
            <div class="text-neutral-400">@picklenik0864</div>
          </div>
        </a>
      </div>
      <div class="text-neutral-400 mx-4">
        <a
          class="mr-2 mb-4 hover:text-white hover:underline decoration-wavy duration-300"
          href="https://github.com/PickleNik/ratelimited.lol"
        >
          OpenSauce Algorithm
        </a><br />© 2069 ratelimited Corp.
      </div>
    </div>
  </main>
</Layout>

<script is:inline>
  const c = document.querySelector("#container");
  const b = document.querySelector("#whatever");
  const g = document.querySelector("#verified");
  const b2 = document.getElementById("whatever");
  const { width: cWidth, height: cHeight } = c.getBoundingClientRect();
  const { width: bWidth, height: bHeight } = b.getBoundingClientRect();

  function move() {
    const i = Math.floor(Math.random() * (cWidth - bWidth)) + 1;
    const j = Math.floor(Math.random() * (cHeight - bHeight)) + 1;
    b2.style.left = i + "px";
    b2.style.top = j + "px";
  }
  g.addEventListener("click", () => {
    g.style.borderRadius = "0.5rem";
    g.innerText =
      "Sorry, you are rate limited. Please wait a few moments then try again.";
  });
  b.addEventListener("mouseenter", () => move());
  b.addEventListener("click", () => move());
</script>
