---
import Layout from "../layouts/Layout.astro";

import Left from "../components/index/Left.astro";
import Middle from "../components/index/Middle.astro";
import Right from "../components/index/Right.astro";
---

<Layout title="RateLimited">
  <main class="flex md:flex-row flex-col">
    <Left />
    <Middle />
    <Right />
    <div
      id="notification"
      class="bg-[#1DA1F2] text-neutral-200 rounded-md p-4 duration-300 fixed bottom-4 left-1/2 -translate-x-1/2 opacity-0 pointer-events-none"
    >
      Sorry, you are rate limited. Please wait a few moments then try again.
    </div>
  </main>

  <script is:inline>
    const b = document.querySelector("#whatever");
    const g = document.querySelector("#verified");
    const b2 = document.getElementById("whatever");
    const notif = document.getElementById("notification");
    const tweet = document.getElementById("tweet");
    const tweetmobile = document.getElementById("tweetmobile");
    const profile = document.getElementById("profile");

    const home = document.getElementById("home");
    const explore = document.getElementById("explore");
    const notifs = document.getElementById("notifs");
    const messages = document.getElementById("messages");
    const lists = document.getElementById("lists");
    const bookmarks = document.getElementById("bookmarks");
    const communities = document.getElementById("communities");
    const limited = document.getElementById("limited");
    const profilel = document.getElementById("profilelink");
    const more = document.getElementById("more");
    const { width: cWidth, height: cHeight } =
      document.documentElement.getBoundingClientRect();
    const { width: bWidth, height: bHeight } = b.getBoundingClientRect();

    // fun
    b.addEventListener("mouseenter", () => move());
    b.addEventListener("click", () => move());

    // tweet on double click
    tweet.addEventListener("dblclick", () => tweety());
    tweetmobile.addEventListener("dblclick", () => tweety());

    // notification on click
    tweet.addEventListener("click", () => toggleNotif());
    tweetmobile.addEventListener("click", () => toggleNotif());
    profile.addEventListener("click", () => toggleNotif());
    home.addEventListener("click", () => toggleNotif());
    explore.addEventListener("click", () => toggleNotif());
    notifs.addEventListener("click", () => toggleNotif());
    messages.addEventListener("click", () => toggleNotif());
    lists.addEventListener("click", () => toggleNotif());
    bookmarks.addEventListener("click", () => toggleNotif());
    communities.addEventListener("click", () => toggleNotif());
    limited.addEventListener("click", () => toggleNotif());
    profilel.addEventListener("click", () => toggleNotif());
    more.addEventListener("click", () => toggleNotif());

    g.addEventListener("click", () => {
      g.style.borderRadius = "0.5rem";
      g.innerText =
        "Sorry, you are rate limited. Please wait a few moments then try again.";
    });

    function tweety() {
      window.open(
        "https://twitter.com/intent/tweet?url=ratelimited.lol",
        "_blank"
      );
    }

    function toggleNotif() {
      notif.style.opacity = "1";
      setTimeout(() => {
        notif.style.opacity = "0";
      }, 500);
    }

    function move() {
      const i = Math.floor(Math.random() * (cWidth - bWidth)) + 1;
      const j = Math.floor(Math.random() * (cHeight - bHeight)) + 1;
      b2.style.left = i + "px";
      b2.style.top = j + "px";
    }
  </script>
</Layout>
