---
import Layout from "../layouts/Layout.astro";
---

<Layout title="RateLimited">
  <main id="container" class="flex md:flex-row flex-col">
    <div
      class="relative flex flex-col md:border-r border-b md:border-b-0 p-4 w-full md:w-72 md:h-screen gap-3 border-neutral-800"
    >
      <svg
        role="img"
        class="md:h-8 md:w-8 h-7 w-7 md:ml-3 md:mb-4 mx-auto md:fill-neutral-200 fill-[#1DA1F2]"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        ><title>Twitter</title><path
          d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
        ></path></svg
      >
      <div
        id="home"
        class="hidden md:flex p-3 duration-300 gap-6 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full font-bold items-center cursor-pointer text-2xl"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="h-8 w-8 fill-neutral-200"
          ><g
            ><path
              d="M12 1.696L.622 8.807l1.06 1.696L3 9.679V19.5C3 20.881 4.119 22 5.5 22h13c1.381 0 2.5-1.119 2.5-2.5V9.679l1.318.824 1.06-1.696L12 1.696zM12 16.5c-1.933 0-3.5-1.567-3.5-3.5s1.567-3.5 3.5-3.5 3.5 1.567 3.5 3.5-1.567 3.5-3.5 3.5z"
            ></path></g
          ></svg
        >
        Home
      </div>
      <div
        id="explore"
        class="hidden md:flex p-3 duration-300 gap-6 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full items-center cursor-pointer text-2xl"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="h-8 w-8 fill-neutral-200"
          ><g
            ><path
              d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"
            ></path></g
          ></svg
        >
        Explore
      </div>
      <div
        id="notifs"
        class="hidden md:flex p-3 duration-300 gap-6 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full items-center cursor-pointer text-2xl"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="h-8 w-8 fill-neutral-200"
          ><g
            ><path
              d="M19.993 9.042C19.48 5.017 16.054 2 11.996 2s-7.49 3.021-7.999 7.051L2.866 18H7.1c.463 2.282 2.481 4 4.9 4s4.437-1.718 4.9-4h4.236l-1.143-8.958zM12 20c-1.306 0-2.417-.835-2.829-2h5.658c-.412 1.165-1.523 2-2.829 2zm-6.866-4l.847-6.698C6.364 6.272 8.941 4 11.996 4s5.627 2.268 6.013 5.295L18.864 16H5.134z"
            ></path></g
          ></svg
        >
        Notifications
      </div>
      <div
        id="messages"
        class="hidden md:flex p-3 duration-300 gap-6 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full items-center cursor-pointer text-2xl"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="h-8 w-8 fill-neutral-200"
          ><g
            ><path
              d="M1.998 5.5c0-1.381 1.119-2.5 2.5-2.5h15c1.381 0 2.5 1.119 2.5 2.5v13c0 1.381-1.119 2.5-2.5 2.5h-15c-1.381 0-2.5-1.119-2.5-2.5v-13zm2.5-.5c-.276 0-.5.224-.5.5v2.764l8 3.638 8-3.636V5.5c0-.276-.224-.5-.5-.5h-15zm15.5 5.463l-8 3.636-8-3.638V18.5c0 .276.224.5.5.5h15c.276 0 .5-.224.5-.5v-8.037z"
            ></path></g
          ></svg
        >
        Messages
      </div>
      <div
        id="lists"
        class="hidden md:flex p-3 duration-300 gap-6 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full items-center cursor-pointer text-2xl"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="h-8 w-8 fill-neutral-200"
          ><g
            ><path
              d="M3 4.5C3 3.12 4.12 2 5.5 2h13C19.88 2 21 3.12 21 4.5v15c0 1.38-1.12 2.5-2.5 2.5h-13C4.12 22 3 20.88 3 19.5v-15zM5.5 4c-.28 0-.5.22-.5.5v15c0 .28.22.5.5.5h13c.28 0 .5-.22.5-.5v-15c0-.28-.22-.5-.5-.5h-13zM16 10H8V8h8v2zm-8 2h8v2H8v-2z"
            ></path></g
          ></svg
        >
        Lists
      </div>
      <div
        id="bookmarks"
        class="hidden md:flex p-3 duration-300 gap-6 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full items-center cursor-pointer text-2xl"
      >
        <svg viewBox="0 0 24 24" aria-hidden="true" class="h-8 w-8 fill-current"
          ><g
            ><path
              d="M4 4.5C4 3.12 5.119 2 6.5 2h11C18.881 2 20 3.12 20 4.5v18.44l-8-5.71-8 5.71V4.5zM6.5 4c-.276 0-.5.22-.5.5v14.56l6-4.29 6 4.29V4.5c0-.28-.224-.5-.5-.5h-11z"
            ></path></g
          ></svg
        >
        Bookmarks
      </div>
      <div
        id="communities"
        class="hidden md:flex p-3 duration-300 gap-6 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full items-center cursor-pointer text-2xl"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="h-8 w-8 fill-neutral-200"
          ><g
            ><path
              d="M7.501 19.917L7.471 21H.472l.029-1.027c.184-6.618 3.736-8.977 7-8.977.963 0 1.95.212 2.87.672-.444.478-.851 1.03-1.212 1.656-.507-.204-1.054-.329-1.658-.329-2.767 0-4.57 2.223-4.938 6.004H7.56c-.023.302-.05.599-.059.917zm15.998.056L23.528 21H9.472l.029-1.027c.184-6.618 3.736-8.977 7-8.977s6.816 2.358 7 8.977zM21.437 19c-.367-3.781-2.17-6.004-4.938-6.004s-4.57 2.223-4.938 6.004h9.875zm-4.938-9c-.799 0-1.527-.279-2.116-.73-.836-.64-1.384-1.638-1.384-2.77 0-1.93 1.567-3.5 3.5-3.5s3.5 1.57 3.5 3.5c0 1.132-.548 2.13-1.384 2.77-.589.451-1.317.73-2.116.73zm-1.5-3.5c0 .827.673 1.5 1.5 1.5s1.5-.673 1.5-1.5-.673-1.5-1.5-1.5-1.5.673-1.5 1.5zM7.5 3C9.433 3 11 4.57 11 6.5S9.433 10 7.5 10 4 8.43 4 6.5 5.567 3 7.5 3zm0 2C6.673 5 6 5.673 6 6.5S6.673 8 7.5 8 9 7.327 9 6.5 8.327 5 7.5 5z"
            ></path></g
          ></svg
        >
        Communities
      </div>
      <div
        id="limited"
        class="hidden md:flex p-3 duration-300 gap-6 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full items-center cursor-pointer text-2xl"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="h-8 w-8 fill-neutral-200"
          ><g
            ><path
              d="M8.52 3.59c.8-1.1 2.04-1.84 3.48-1.84s2.68.74 3.49 1.84c1.34-.21 2.74.14 3.76 1.16s1.37 2.42 1.16 3.77c1.1.8 1.84 2.04 1.84 3.48s-.74 2.68-1.84 3.48c.21 1.34-.14 2.75-1.16 3.77s-2.42 1.37-3.76 1.16c-.8 1.1-2.05 1.84-3.49 1.84s-2.68-.74-3.48-1.84c-1.34.21-2.75-.14-3.77-1.16-1.01-1.02-1.37-2.42-1.16-3.77-1.09-.8-1.84-2.04-1.84-3.48s.75-2.68 1.84-3.48c-.21-1.35.14-2.75 1.16-3.77s2.43-1.37 3.77-1.16zm3.48.16c-.85 0-1.66.53-2.12 1.43l-.38.77-.82-.27c-.96-.32-1.91-.12-2.51.49-.6.6-.8 1.54-.49 2.51l.27.81-.77.39c-.9.46-1.43 1.27-1.43 2.12s.53 1.66 1.43 2.12l.77.39-.27.81c-.31.97-.11 1.91.49 2.51.6.61 1.55.81 2.51.49l.82-.27.38.77c.46.9 1.27 1.43 2.12 1.43s1.66-.53 2.12-1.43l.39-.77.82.27c.96.32 1.9.12 2.51-.49.6-.6.8-1.55.48-2.51l-.26-.81.76-.39c.91-.46 1.43-1.27 1.43-2.12s-.52-1.66-1.43-2.12l-.77-.39.27-.81c.32-.97.12-1.91-.48-2.51-.61-.61-1.55-.81-2.51-.49l-.82.27-.39-.77c-.46-.9-1.27-1.43-2.12-1.43zm4.74 5.68l-6.2 6.77-3.74-3.74 1.41-1.42 2.26 2.26 4.8-5.23 1.47 1.36z"
            ></path></g
          ></svg
        >
        Limited
      </div>
      <div
        id="profilelink"
        class="hidden md:flex p-3 duration-300 gap-6 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full items-center cursor-pointer text-2xl"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="h-8 w-8 fill-neutral-200"
          ><g
            ><path
              d="M5.651 19h12.698c-.337-1.8-1.023-3.21-1.945-4.19C15.318 13.65 13.838 13 12 13s-3.317.65-4.404 1.81c-.922.98-1.608 2.39-1.945 4.19zm.486-5.56C7.627 11.85 9.648 11 12 11s4.373.85 5.863 2.44c1.477 1.58 2.366 3.8 2.632 6.46l.11 1.1H3.395l.11-1.1c.266-2.66 1.155-4.88 2.632-6.46zM12 4c-1.105 0-2 .9-2 2s.895 2 2 2 2-.9 2-2-.895-2-2-2zM8 6c0-2.21 1.791-4 4-4s4 1.79 4 4-1.791 4-4 4-4-1.79-4-4z"
            ></path></g
          ></svg
        >
        Profile
      </div>
      <div
        id="more"
        class="hidden md:flex p-3 duration-300 gap-6 hover:bg-neutral-500 hover:bg-opacity-25 rounded-full items-center cursor-pointer text-2xl"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="h-8 w-8 fill-neutral-200"
          ><g
            ><path
              d="M3.75 12c0-4.56 3.69-8.25 8.25-8.25s8.25 3.69 8.25 8.25-3.69 8.25-8.25 8.25S3.75 16.56 3.75 12zM12 1.75C6.34 1.75 1.75 6.34 1.75 12S6.34 22.25 12 22.25 22.25 17.66 22.25 12 17.66 1.75 12 1.75zm-4.75 11.5c.69 0 1.25-.56 1.25-1.25s-.56-1.25-1.25-1.25S6 11.31 6 12s.56 1.25 1.25 1.25zm9.5 0c.69 0 1.25-.56 1.25-1.25s-.56-1.25-1.25-1.25-1.25.56-1.25 1.25.56 1.25 1.25 1.25zM13.25 12c0 .69-.56 1.25-1.25 1.25s-1.25-.56-1.25-1.25.56-1.25 1.25-1.25 1.25.56 1.25 1.25z"
            ></path></g
          ></svg
        >
        More
      </div>
      <button
        id="tweet"
        class="bg-[#1DA1F2] hidden w-[90%] mr-auto mt-4 p-4 font-bold text-xl md:flex justify-center items-center text-white gap-4 rounded-full"
      >
        Tweet
      </button>
      <a
        id="tweetmobile"
        class="bg-[#1DA1F2] z-50 fixed bottom-4 right-4 mr-auto mt-4 p-4 font-bold text-xl md:hidden justify-center items-center text-neutral-200 gap-4 rounded-full h-18 w-18"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="fill-neutral-200 h-8 w-8"
          ><g
            ><path
              d="M23 3c-6.62-.1-10.38 2.421-13.05 6.03C7.29 12.61 6 17.331 6 22h2c0-1.007.07-2.012.19-3H12c4.1 0 7.48-3.082 7.94-7.054C22.79 10.147 23.17 6.359 23 3zm-7 8h-1.5v2H16c.63-.016 1.2-.08 1.72-.188C16.95 15.24 14.68 17 12 17H8.55c.57-2.512 1.57-4.851 3-6.78 2.16-2.912 5.29-4.911 9.45-5.187C20.95 8.079 19.9 11 16 11zM4 9V6H1V4h3V1h2v3h3v2H6v3H4z"
            ></path></g
          ></svg
        >
      </a>
      <div
        id="profile"
        class="hidden md:flex w-[85%] items-center p-2 rounded-full hover:bg-neutral-800 duration-300 cursor-pointer absolute bottom-4 right-4 gap-4"
      >
        <div
          class="rounded-full bg-contain bg-[url('https://pbs.twimg.com/profile_images/1590968738358079488/IY9Gx6Ok_400x400.jpg')] w-12 h-12"
        >
        </div>
        <div class="flex flex-col">
          <div class="text-lg font-bold">Elon Musk</div>
          <div class="text-neutral-400">elon_musk</div>
        </div>
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="fill-neutral-400 w-6 h-6 ml-auto"
          ><g
            ><path
              d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z"
            ></path></g
          ></svg
        >
      </div>
    </div>
    <div
      class="relative w-full md:w-[598px] grid place-items-center md:h-screen h-[30vh] text-neutral-400"
    >
      <div class="-mt-32 text-center">Something went wrong. Try reloading.</div>
      <button
        id="whatever"
        class="bg-[#1DA1F2] z-50 fixed duration-300 pr-5 p-4 py-3 font-bold text-2xl flex items-center text-white shadow-2xl gap-4 rounded-full"
      >
        <svg viewBox="0 0 24 24" aria-hidden="true" class="fill-white h-8 w-8"
          ><g
            ><path
              d="M12 4c-4.418 0-8 3.58-8 8s3.582 8 8 8c3.806 0 6.993-2.66 7.802-6.22l1.95.44C20.742 18.67 16.76 22 12 22 6.477 22 2 17.52 2 12S6.477 2 12 2c3.272 0 6.176 1.57 8 4V3.5h2v6h-6v-2h2.616C17.175 5.39 14.749 4 12 4z"
            ></path></g
          ></svg
        >
        Retry
      </button>
    </div>
    <div
      class="flex max-h-screen overflow-y-auto flex-col md:border-l border-t md:border-t-0 px-7 py-2 w-[25rem] md:h-screen gap-4 border-neutral-800"
    >
      <div
        class="px-4 pl-6 py-3 items-center hidden md:flex bg-neutral-900 text-neutral-500 rounded-full text-xl w-full gap-6"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="w-6 h-6 fill-neutral-500"
          ><g
            ><path
              d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"
            ></path></g
          ></svg
        ><span>Search Twitter</span>
      </div>
      <div class="hidden md:flex rounded-2xl bg-neutral-900 flex-col p-4">
        <h1 class="text-2xl font-bold">Get Verified</h1>
        <div class="flex">
          <div class="flex flex-col">
            <div style="font-size: 1.05rem" class="font-bold my-3">
              Subscribe to unlock more ratelimiting!
            </div>
            <button
              id="verified"
              class="bg-[#1DA1F2] mr-auto px-5 py-2 font-bold text-lg flex items-center text-white gap-4 rounded-full"
            >
              Get Verified
            </button>
          </div>
        </div>
      </div>
      <div class="hidden md:flex rounded-2xl bg-neutral-900 flex-col gap-4 p-4">
        <h1 class="text-2xl font-bold">What's happenning?</h1>
        <div class="flex gap-4">
          <div class="flex flex-col">
            <div class="text-neutral-500">Trending in United States</div>
            <div class="text-lg font-bold">
              You are rate limited. Please wait a few moments then try again.
            </div>
          </div>
        </div>
      </div>
      <div class="rounded-2xl bg-neutral-900 flex flex-col gap-4 p-4">
        <h1 class="text-2xl font-bold">Who to follow</h1>
        <a
          href="https://twitter.com/PickleNik0864"
          class="flex gap-4"
          target="_blank"
        >
          <div
            class="rounded-full bg-contain bg-[url('https://pbs.twimg.com/profile_images/1652712728794898435/aNefvvvm_400x400.jpg')] w-12 h-12"
          >
          </div>
          <div class="flex flex-col">
            <div class="text-lg font-bold flex items-center">
              PickleNik
              <svg
                viewBox="0 0 22 22"
                aria-label="Verified account"
                role="img"
                class="w-5 h-5 ml-1 fill-gray-400"
                data-testid="icon-verified"
                ><g
                  ><path
                    d="M20.396 11c-.018-.646-.215-1.275-.57-1.816-.354-.54-.852-.972-1.438-1.246.223-.607.27-1.264.14-1.897-.131-.634-.437-1.218-.882-1.687-.47-.445-1.053-.75-1.687-.882-.633-.13-1.29-.083-1.897.14-.273-.587-.704-1.086-1.245-1.44S11.647 1.62 11 1.604c-.646.017-1.273.213-1.813.568s-.969.854-1.24 1.44c-.608-.223-1.267-.272-1.902-.14-.635.13-1.22.436-1.69.882-.445.47-.749 1.055-.878 1.688-.13.633-.08 1.29.144 1.896-.587.274-1.087.705-1.443 1.245-.356.54-.555 1.17-.574 1.817.02.647.218 1.276.574 1.817.356.54.856.972 1.443 1.245-.224.606-.274 1.263-.144 1.896.13.634.433 1.218.877 1.688.47.443 1.054.747 1.687.878.633.132 1.29.084 1.897-.136.274.586.705 1.084 1.246 1.439.54.354 1.17.551 1.816.569.647-.016 1.276-.213 1.817-.567s.972-.854 1.245-1.44c.604.239 1.266.296 1.903.164.636-.132 1.22-.447 1.68-.907.46-.46.776-1.044.908-1.681s.075-1.299-.165-1.903c.586-.274 1.084-.705 1.439-1.246.354-.54.551-1.17.569-1.816zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z"
                  ></path></g
                ></svg
              >
            </div>
            <div class="text-neutral-500">@picklenik0864</div>
          </div>
          <button
            class="bg-neutral-200 text-black font-bold rounded-full px-4 my-auto py-2 ml-auto"
          >
            Follow
          </button>
        </a>
        <a
          href="https://twitter.com/_typesafe_"
          class="flex gap-4"
          target="_blank"
        >
          <div
            class="rounded-full bg-contain bg-[url('https://pbs.twimg.com/profile_images/1629618754291204098/YWPAAIvd_400x400.jpg')] w-12 h-12"
          >
          </div>
          <div class="flex flex-col">
            <div class="text-lg font-bold flex items-center">
              Typesafe
              <svg
                viewBox="0 0 22 22"
                aria-label="Verified account"
                role="img"
                class="w-5 h-5 ml-1 fill-orange-300"
                data-testid="icon-verified"
                ><g
                  ><path
                    d="M20.396 11c-.018-.646-.215-1.275-.57-1.816-.354-.54-.852-.972-1.438-1.246.223-.607.27-1.264.14-1.897-.131-.634-.437-1.218-.882-1.687-.47-.445-1.053-.75-1.687-.882-.633-.13-1.29-.083-1.897.14-.273-.587-.704-1.086-1.245-1.44S11.647 1.62 11 1.604c-.646.017-1.273.213-1.813.568s-.969.854-1.24 1.44c-.608-.223-1.267-.272-1.902-.14-.635.13-1.22.436-1.69.882-.445.47-.749 1.055-.878 1.688-.13.633-.08 1.29.144 1.896-.587.274-1.087.705-1.443 1.245-.356.54-.555 1.17-.574 1.817.02.647.218 1.276.574 1.817.356.54.856.972 1.443 1.245-.224.606-.274 1.263-.144 1.896.13.634.433 1.218.877 1.688.47.443 1.054.747 1.687.878.633.132 1.29.084 1.897-.136.274.586.705 1.084 1.246 1.439.54.354 1.17.551 1.816.569.647-.016 1.276-.213 1.817-.567s.972-.854 1.245-1.44c.604.239 1.266.296 1.903.164.636-.132 1.22-.447 1.68-.907.46-.46.776-1.044.908-1.681s.075-1.299-.165-1.903c.586-.274 1.084-.705 1.439-1.246.354-.54.551-1.17.569-1.816zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z"
                  ></path></g
                ></svg
              >
            </div>
            <div class="text-neutral-500">@_typesafe_</div>
          </div>
          <button
            class="bg-neutral-200 text-black font-bold rounded-full px-4 my-auto py-2 ml-auto"
          >
            Follow
          </button>
        </a>
        <a
          href="https://twitter.com/codicocodes"
          class="flex gap-4"
          target="_blank"
        >
          <div
            class="rounded-full bg-contain bg-[url('https://pbs.twimg.com/profile_images/1419734467946614795/7sPi7tfG_400x400.png')] w-12 h-12"
          >
          </div>
          <div class="flex flex-col">
            <div class="text-lg font-bold flex items-center">
              codico
              <svg
                viewBox="0 0 22 22"
                aria-label="Verified account"
                role="img"
                class="w-5 h-5 ml-1 fill-teal-300"
                data-testid="icon-verified"
                ><g
                  ><path
                    d="M20.396 11c-.018-.646-.215-1.275-.57-1.816-.354-.54-.852-.972-1.438-1.246.223-.607.27-1.264.14-1.897-.131-.634-.437-1.218-.882-1.687-.47-.445-1.053-.75-1.687-.882-.633-.13-1.29-.083-1.897.14-.273-.587-.704-1.086-1.245-1.44S11.647 1.62 11 1.604c-.646.017-1.273.213-1.813.568s-.969.854-1.24 1.44c-.608-.223-1.267-.272-1.902-.14-.635.13-1.22.436-1.69.882-.445.47-.749 1.055-.878 1.688-.13.633-.08 1.29.144 1.896-.587.274-1.087.705-1.443 1.245-.356.54-.555 1.17-.574 1.817.02.647.218 1.276.574 1.817.356.54.856.972 1.443 1.245-.224.606-.274 1.263-.144 1.896.13.634.433 1.218.877 1.688.47.443 1.054.747 1.687.878.633.132 1.29.084 1.897-.136.274.586.705 1.084 1.246 1.439.54.354 1.17.551 1.816.569.647-.016 1.276-.213 1.817-.567s.972-.854 1.245-1.44c.604.239 1.266.296 1.903.164.636-.132 1.22-.447 1.68-.907.46-.46.776-1.044.908-1.681s.075-1.299-.165-1.903c.586-.274 1.084-.705 1.439-1.246.354-.54.551-1.17.569-1.816zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z"
                  ></path></g
                ></svg
              >
            </div>
            <div class="text-neutral-500">@codicocodes</div>
          </div>
          <button
            class="bg-neutral-200 text-black font-bold rounded-full px-4 my-auto py-2 ml-auto"
          >
            Follow
          </button>
        </a>
        <a
          href="https://twitter.com/Chad_R_Stewart"
          class="flex gap-4"
          target="_blank"
        >
          <div
            class="rounded-full bg-contain bg-[url('https://pbs.twimg.com/profile_images/1285282904050982912/70y9kQMJ_400x400.jpg')] w-12 h-12"
          >
          </div>
          <div class="flex flex-col">
            <div class="font-bold text-lg flex items-center">
              Chad R. Ste...
              <svg
                viewBox="0 0 22 22"
                aria-label="Verified account"
                role="img"
                class="w-5 h-5 ml-1 fill-green-300"
                data-testid="icon-verified"
                ><g
                  ><path
                    d="M20.396 11c-.018-.646-.215-1.275-.57-1.816-.354-.54-.852-.972-1.438-1.246.223-.607.27-1.264.14-1.897-.131-.634-.437-1.218-.882-1.687-.47-.445-1.053-.75-1.687-.882-.633-.13-1.29-.083-1.897.14-.273-.587-.704-1.086-1.245-1.44S11.647 1.62 11 1.604c-.646.017-1.273.213-1.813.568s-.969.854-1.24 1.44c-.608-.223-1.267-.272-1.902-.14-.635.13-1.22.436-1.69.882-.445.47-.749 1.055-.878 1.688-.13.633-.08 1.29.144 1.896-.587.274-1.087.705-1.443 1.245-.356.54-.555 1.17-.574 1.817.02.647.218 1.276.574 1.817.356.54.856.972 1.443 1.245-.224.606-.274 1.263-.144 1.896.13.634.433 1.218.877 1.688.47.443 1.054.747 1.687.878.633.132 1.29.084 1.897-.136.274.586.705 1.084 1.246 1.439.54.354 1.17.551 1.816.569.647-.016 1.276-.213 1.817-.567s.972-.854 1.245-1.44c.604.239 1.266.296 1.903.164.636-.132 1.22-.447 1.68-.907.46-.46.776-1.044.908-1.681s.075-1.299-.165-1.903c.586-.274 1.084-.705 1.439-1.246.354-.54.551-1.17.569-1.816zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z"
                  ></path></g
                ></svg
              >
            </div>
            <div class="text-neutral-500">@Chad_R_Stewart</div>
          </div>
          <button
            class="bg-neutral-200 text-black font-bold rounded-full px-4 my-auto py-2 ml-auto"
          >
            Follow
          </button>
        </a>
        <a
          href="https://twitter.com/Hacksore"
          class="flex gap-4"
          target="_blank"
        >
          <div
            class="rounded-full bg-contain bg-[url('https://pbs.twimg.com/profile_images/1580703612086501378/EcpbGeAn_400x400.jpg')] w-12 h-12"
          >
          </div>
          <div class="flex flex-col">
            <div class="text-lg font-bold flex items-center">
              Hacksore
              <svg
                viewBox="0 0 22 22"
                aria-label="Verified account"
                role="img"
                class="w-5 h-5 ml-1 fill-red-400"
                data-testid="icon-verified"
                ><g
                  ><path
                    d="M20.396 11c-.018-.646-.215-1.275-.57-1.816-.354-.54-.852-.972-1.438-1.246.223-.607.27-1.264.14-1.897-.131-.634-.437-1.218-.882-1.687-.47-.445-1.053-.75-1.687-.882-.633-.13-1.29-.083-1.897.14-.273-.587-.704-1.086-1.245-1.44S11.647 1.62 11 1.604c-.646.017-1.273.213-1.813.568s-.969.854-1.24 1.44c-.608-.223-1.267-.272-1.902-.14-.635.13-1.22.436-1.69.882-.445.47-.749 1.055-.878 1.688-.13.633-.08 1.29.144 1.896-.587.274-1.087.705-1.443 1.245-.356.54-.555 1.17-.574 1.817.02.647.218 1.276.574 1.817.356.54.856.972 1.443 1.245-.224.606-.274 1.263-.144 1.896.13.634.433 1.218.877 1.688.47.443 1.054.747 1.687.878.633.132 1.29.084 1.897-.136.274.586.705 1.084 1.246 1.439.54.354 1.17.551 1.816.569.647-.016 1.276-.213 1.817-.567s.972-.854 1.245-1.44c.604.239 1.266.296 1.903.164.636-.132 1.22-.447 1.68-.907.46-.46.776-1.044.908-1.681s.075-1.299-.165-1.903c.586-.274 1.084-.705 1.439-1.246.354-.54.551-1.17.569-1.816zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z"
                  ></path></g
                ></svg
              >
            </div>
            <div class="text-neutral-500">@Hacksore</div>
          </div>
          <button
            class="bg-neutral-200 text-black font-bold rounded-full px-4 my-auto py-2 ml-auto"
          >
            Follow
          </button>
        </a>
        <div class="flex gap-4">
          <div
            class="rounded-full bg-contain bg-[url('https://pbs.twimg.com/profile_images/1590968738358079488/IY9Gx6Ok_400x400.jpg')] w-12 h-12"
          >
          </div>
          <div class="flex flex-col">
            <div class="text-lg font-bold flex items-center">
              Elon Musk
              <svg
                viewBox="0 0 22 22"
                aria-label="Verified account"
                role="img"
                class="w-5 h-5 ml-1 fill-pink-400"
                data-testid="icon-verified"
                ><g
                  ><path
                    d="M20.396 11c-.018-.646-.215-1.275-.57-1.816-.354-.54-.852-.972-1.438-1.246.223-.607.27-1.264.14-1.897-.131-.634-.437-1.218-.882-1.687-.47-.445-1.053-.75-1.687-.882-.633-.13-1.29-.083-1.897.14-.273-.587-.704-1.086-1.245-1.44S11.647 1.62 11 1.604c-.646.017-1.273.213-1.813.568s-.969.854-1.24 1.44c-.608-.223-1.267-.272-1.902-.14-.635.13-1.22.436-1.69.882-.445.47-.749 1.055-.878 1.688-.13.633-.08 1.29.144 1.896-.587.274-1.087.705-1.443 1.245-.356.54-.555 1.17-.574 1.817.02.647.218 1.276.574 1.817.356.54.856.972 1.443 1.245-.224.606-.274 1.263-.144 1.896.13.634.433 1.218.877 1.688.47.443 1.054.747 1.687.878.633.132 1.29.084 1.897-.136.274.586.705 1.084 1.246 1.439.54.354 1.17.551 1.816.569.647-.016 1.276-.213 1.817-.567s.972-.854 1.245-1.44c.604.239 1.266.296 1.903.164.636-.132 1.22-.447 1.68-.907.46-.46.776-1.044.908-1.681s.075-1.299-.165-1.903c.586-.274 1.084-.705 1.439-1.246.354-.54.551-1.17.569-1.816zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z"
                  ></path></g
                ></svg
              >
            </div>
            <div class="text-neutral-500">@elonmusk</div>
          </div>
          <button
            class="bg-neutral-200 text-black font-bold rounded-full px-4 my-auto py-2 ml-auto"
          >
            Follow
          </button>
        </div>
        <a
          href="https://twitter.com/DanStepanov"
          class="flex gap-4"
          target="_blank"
        >
          <div
            class="rounded-full bg-contain bg-[url('https://pbs.twimg.com/profile_images/1669495865478885376/7hWQn7ub_400x400.jpg')] w-12 h-12"
          >
          </div>
          <div class="flex flex-col">
            <div class="text-lg font-bold flex items-center">
              onlydans
              <svg
                viewBox="0 0 22 22"
                aria-label="Verified account"
                role="img"
                class="w-5 h-5 ml-1 fill-yellow-400"
                data-testid="icon-verified"
                ><g
                  ><path
                    d="M20.396 11c-.018-.646-.215-1.275-.57-1.816-.354-.54-.852-.972-1.438-1.246.223-.607.27-1.264.14-1.897-.131-.634-.437-1.218-.882-1.687-.47-.445-1.053-.75-1.687-.882-.633-.13-1.29-.083-1.897.14-.273-.587-.704-1.086-1.245-1.44S11.647 1.62 11 1.604c-.646.017-1.273.213-1.813.568s-.969.854-1.24 1.44c-.608-.223-1.267-.272-1.902-.14-.635.13-1.22.436-1.69.882-.445.47-.749 1.055-.878 1.688-.13.633-.08 1.29.144 1.896-.587.274-1.087.705-1.443 1.245-.356.54-.555 1.17-.574 1.817.02.647.218 1.276.574 1.817.356.54.856.972 1.443 1.245-.224.606-.274 1.263-.144 1.896.13.634.433 1.218.877 1.688.47.443 1.054.747 1.687.878.633.132 1.29.084 1.897-.136.274.586.705 1.084 1.246 1.439.54.354 1.17.551 1.816.569.647-.016 1.276-.213 1.817-.567s.972-.854 1.245-1.44c.604.239 1.266.296 1.903.164.636-.132 1.22-.447 1.68-.907.46-.46.776-1.044.908-1.681s.075-1.299-.165-1.903c.586-.274 1.084-.705 1.439-1.246.354-.54.551-1.17.569-1.816zM9.662 14.85l-3.429-3.428 1.293-1.302 2.072 2.072 4.4-4.794 1.347 1.246z"
                  ></path></g
                ></svg
              >
            </div>
            <div class="text-neutral-500">@DanStepanov</div>
          </div>
          <button
            class="bg-neutral-200 text-black font-bold rounded-full px-4 my-auto py-2 ml-auto"
          >
            Follow
          </button>
        </a>
      </div>
      <div class="text-neutral-400 mx-4">
        <a
          class="mr-2 flex items-center hover:text-neutral-200 hover:underline decoration-wavy duration-300"
          href="https://github.com/PickleNik/ratelimited.lol"
        >
          <svg
            role="img"
            viewBox="0 0 24 24"
            class="w-4 mr-2 h-4 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            ><title>GitHub</title><path
              d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
            ></path></svg
          >
          OpenSauce Algorithm
        </a>© 2069 ratelimited Corp.
      </div>
    </div>
    <div
      id="notification"
      class="bg-[#1DA1F2] text-neutral-200 rounded-md p-4 duration-300 fixed bottom-4 left-1/2 -translate-x-1/2 opacity-0"
    >
      Sorry, you are rate limited. Please wait a few moments then try again.
    </div>
  </main>
</Layout>

<script is:inline>
  // const c = document.querySelector("#container");
  const b = document.querySelector("#whatever");
  const g = document.querySelector("#verified");
  const b2 = document.getElementById("whatever");
  const notif = document.getElementById("notification");
  const tweet = document.getElementById("tweet");
  const tweetmobile = document.getElementById("tweetmobile");
  const profile = document.getElementById("profile");

  const home = document.getElementById("home");
  const explore = document.getElementById("explore");
  const notifs = document.getElementById("notifs");
  const messages = document.getElementById("messages");
  const lists = document.getElementById("lists");
  const bookmarks = document.getElementById("bookmarks");
  const communities = document.getElementById("communities");
  const limited = document.getElementById("limited");
  const profilel = document.getElementById("profilelink");
  const more = document.getElementById("more");
  const { width: cWidth, height: cHeight } =
    document.documentElement.getBoundingClientRect();
  const { width: bWidth, height: bHeight } = b.getBoundingClientRect();

  function move() {
    const i = Math.floor(Math.random() * (cWidth - bWidth)) + 1;
    const j = Math.floor(Math.random() * (cHeight - bHeight)) + 1;
    b2.style.left = i + "px";
    b2.style.top = j + "px";
  }
  g.addEventListener("click", () => {
    g.style.borderRadius = "0.5rem";
    g.innerText =
      "Sorry, you are rate limited. Please wait a few moments then try again.";
  });
  b.addEventListener("mouseenter", () => move());
  b.addEventListener("click", () => move());
  tweet.addEventListener("click", () => {
    notif.style.opacity = "1";
    setTimeout(() => {
      notif.style.opacity = "0";
    }, 500);
  });
  tweetmobile.addEventListener("click", () => {
    notif.style.opacity = "1";
    setTimeout(() => {
      notif.style.opacity = "0";
    }, 500);
  });
  tweet.addEventListener("dblclick", () => {
    window.open(
      "https://twitter.com/intent/tweet?url=ratelimited.lol",
      "_blank"
    );
  });
  tweetmobile.addEventListener("dblclick", () => {
    window.open(
      "https://twitter.com/intent/tweet?url=ratelimited.lol",
      "_blank"
    );
  });
  profile.addEventListener("click", () => {
    notif.style.opacity = "1";
    setTimeout(() => {
      notif.style.opacity = "0";
    }, 500);
  });
  home.addEventListener("click", () => {
    notif.style.opacity = "1";
    setTimeout(() => {
      notif.style.opacity = "0";
    }, 500);
  });
  explore.addEventListener("click", () => {
    notif.style.opacity = "1";
    setTimeout(() => {
      notif.style.opacity = "0";
    }, 500);
  });
  notifs.addEventListener("click", () => {
    notif.style.opacity = "1";
    setTimeout(() => {
      notif.style.opacity = "0";
    }, 500);
  });
  messages.addEventListener("click", () => {
    notif.style.opacity = "1";
    setTimeout(() => {
      notif.style.opacity = "0";
    }, 500);
  });
  lists.addEventListener("click", () => {
    notif.style.opacity = "1";
    setTimeout(() => {
      notif.style.opacity = "0";
    }, 500);
  });
  bookmarks.addEventListener("click", () => {
    notif.style.opacity = "1";
    setTimeout(() => {
      notif.style.opacity = "0";
    }, 500);
  });
  communities.addEventListener("click", () => {
    notif.style.opacity = "1";
    setTimeout(() => {
      notif.style.opacity = "0";
    }, 500);
  });
  limited.addEventListener("click", () => {
    notif.style.opacity = "1";
    setTimeout(() => {
      notif.style.opacity = "0";
    }, 500);
  });
  profilel.addEventListener("click", () => {
    notif.style.opacity = "1";
    setTimeout(() => {
      notif.style.opacity = "0";
    }, 500);
  });
  more.addEventListener("click", () => {
    notif.style.opacity = "1";
    setTimeout(() => {
      notif.style.opacity = "0";
    }, 500);
  });
</script>
