---
import GithubIcon from "../icons/Github.astro";

import Button from "./Button.astro";
import User from "./User.astro";
import Elon from "./Elon";
---

<div
  class="flex max-h-screen overflow-y-auto flex-col md:border-l border-t md:border-t-0 px-7 md:py-2 pt-7 md:w-[25rem] md:h-screen gap-4 border-neutral-800"
>
  <div
    class="px-4 pl-6 py-3 items-center hidden md:flex bg-neutral-900 text-neutral-500 rounded-full text-xl w-full gap-6"
  >
    <svg viewBox="0 0 24 24" aria-hidden="true" class="w-6 h-6 fill-neutral-500"
      ><g
        ><path
          d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"
        ></path></g
      ></svg
    ><span>Search Twitter</span>
  </div>
  <div class="hidden md:flex rounded-2xl bg-neutral-900 flex-col p-4">
    <h1 class="text-2xl font-bold">Get Verified</h1>
    <div class="flex">
      <div class="flex flex-col">
        <div style="font-size: 1.05rem" class="font-bold my-3">
          Subscribe to unlock more ratelimiting!
        </div>
        <Button
          id="verified"
          className="bg-[#1DA1F2] mr-auto px-5 py-2 font-bold text-lg flex items-center text-white gap-4 rounded-full"
        >
          Get Verified
        </Button>
      </div>
    </div>
  </div>
  <div class="hidden md:flex rounded-2xl bg-neutral-900 flex-col gap-4 p-4">
    <h1 class="text-2xl font-bold">What's happenning?</h1>
    <div class="flex gap-4">
      <div class="flex flex-col">
        <div class="text-neutral-500">Trending in United States</div>
        <div class="text-lg font-bold">
          You are rate limited. Please wait a few moments then try again.
        </div>
      </div>
    </div>
  </div>
  <div class="rounded-2xl bg-neutral-900 flex flex-col gap-4 p-4">
    <h1 class="text-2xl font-bold">Who to follow</h1>
    <User
      handle="PickleNik0864"
      name="PickleNik"
      badgeColor="fill-gray-500"
      avatarClass="bg-[url(https://pbs.twimg.com/profile_images/1652712728794898435/aNefvvvm_400x400.jpg)]"
    />
    <User
      handle="_typesafe_"
      name="Typesafe"
      badgeColor="fill-orange-300"
      avatarClass="bg-[url(https://pbs.twimg.com/profile_images/1675505542578556933/-xvWv1WB_400x400.jpg)]"
    />
    <User
      handle="codicocodes"
      name="codico"
      badgeColor="fill-teal-300"
      avatarClass="bg-[url(https://pbs.twimg.com/profile_images/1419734467946614795/7sPi7tfG_400x400.png)]"
    />
    <User
      handle="Chad_R_Stewart"
      name="Chad R. Ste..."
      badgeColor="fill-green-300"
      avatarClass="bg-[url(https://pbs.twimg.com/profile_images/1285282904050982912/70y9kQMJ_400x400.jpg)]"
    />
    <User
      handle="Hacksore"
      name="Hacksore"
      badgeColor="fill-red-400"
      avatarClass="bg-[url(https://pbs.twimg.com/profile_images/1580703612086501378/EcpbGeAn_400x400.jpg)]"
    />
    <User
      handle="MDKHoo"
      name='Mark "Inexp...'
      badgeColor="fill-blue-300"
      avatarClass="bg-[url(https://pbs.twimg.com/profile_images/575370888951914497/wnrxy7Wr_400x400.jpeg)]"
    />
    <User
      handle="DanStepanov"
      name="onlydans"
      badgeColor="fill-yellow-400"
      avatarClass="bg-[url(https://pbs.twimg.com/profile_images/1669495865478885376/7hWQn7ub_400x400.jpg)]"
    />
    <User
      handle="emzraline"
      name="emzra"
      badgeColor="fill-purple-400"
      avatarClass="bg-[url(https://pbs.twimg.com/profile_images/1663711557765992448/PRBhPtdY_400x400.jpg)]"
    />
    <Elon />
  </div>

  <div class="text-neutral-400 mx-4">
    <a
      class="mr-2 flex items-center hover:text-neutral-200 hover:underline decoration-wavy duration-300"
      href="https://github.com/PickleNik/ratelimited.lol"
      target="_blank"
    >
      <GithubIcon />
      OpenSauce Algorithm
    </a>© 2069 ratelimited Corp.
  </div>
</div>
