---
export interface Props {
  id?: string;
  className?: string;
}

const { id, className } = Astro.props;
---

<button
  {id}
  class="bg-[#1DA1F2] hidden w-[90%] mr-auto mt-4 p-4 font-bold text-xl md:flex justify-center items-center text-white gap-4 rounded-full"
>
  <slot class={className} />
</button>
